.header-container{
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.header-container header{
  display: flex;
  align-items: center;
}

.header-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.header-container header img {
height: 50px;
}

.header-container header p {
  font-weight: 500;
  font-size: 17px;
  margin-left: 10px;
}

.header-container header a{
  /* width: max-content; */
  padding: 0 20px;
  margin-left: auto;
  margin-top: 0;
}

.header-container header button{
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.2s;
  min-width: 64px;
}

.header-container header button:hover{
border-color: #999;
}
.logot{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.button2{
  width: 100%;
  height: 50px;
  background: #99a19b;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  transition: filter 0.2s;
  margin-right: 16px;
}

.button2:hover{
  filter: brightness(90%);
}

.button3{
  width: 100%;
  height: 50px;
  background:  #99a19b;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  transition: filter 0.2s;
  margin-right: 16px;
}

.button3:hover{
  filter: brightness(90%);
}

.buttons{
  margin-left: auto;
}

.header-container header .buttons span{
  margin-left: 0;
  min-width: 0;
}

@media (max-width: 1000px){
  .header-container header span {
    font-size: 20px;
  }

  .header-container {
    font-size: 20px;
    padding: 10px;
  }
}